$workSans: "Work Sans", sans-serif;

$crimsonText: "Crimson Text", sans-serif;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$dark: rgba(33, 37, 41, 1);
$grey: rgba(33, 37, 41, 0.5);
$green: rgba(116, 198, 157, 1);
$darker: rgba(33, 37, 41, 0.75);
$shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
$form: rgba(238, 238, 238, 1);
